{% extends "base.html" %}

{% block content %}	

	{% for news in News %}

		<div class="jumbotron {{news.source}}">
	

		<p>

			
				
					<a href="{% url 'about' pk=news.id %}">{{news.tittle}}</a>
				
			
			<span class="pull-right">
				<small><small>{{news.dateAdd}}</small></small>
			</span>
		</p>
	
		<p>
		<img src= "{{news.image.url}}" class="img-responsive center-block">
		</p>
		<p>
			{{news.fullDef|truncatechars:200}}
		</p>
		
		<p>
			<small>
			<small>
				Источник: {{news.source}}
			</small>
			</small>
		</p>
			



		</div>
		
	{% endfor %}


{% endblock %}