Django==1.9.7
django-contrib-comments==1.7.1
django-disqus==0.5
django-feedparser==0.2.1
feedparser==5.2.1
funcsigs==1.0.2
get==0.0.11
mock==2.0.0
pbr==1.10.0
Pillow==3.3.0
post==0.0.8
public==0.0.34
pycurl==7.43.0
pytz==2016.6.1
query-string==0.0.8
request==0.0.8
requests==2.10.0
six==1.10.0
virtualenv==15.0.2